body{

font-family:Arial, sans-serif;

margin:0;

padding:0;

}


section{

padding:40px;

}


nav{

display:flex;

justify-content:space-between;

padding:20px;

background:#111;

color:white;

}


nav a{

color:white;

margin:10px;

text-decoration:none;

}


.hero{

text-align:center;

padding:80px;

}


li{

margin:10px;

}


.profile{

width:150px;

height:150px;

border-radius:50%;

object-fit:cover;

}